*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color:gray;
}

.modal {
    position: fixed;
    left: -120em;
    background-color: #242526;
    width: 80vw;
    height: 100%;
    padding: 30px 12px 12px;
    box-shadow: 0 0 4px 0px rgba(0,0,0, 0.15);
    transition: all 0.3s ease-out;
    z-index: 10;
    font-size: 1.5em;
    top:0;
}

.modal > div > h3 {
    color: #fff;
}

.section {
    display: flex;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    line-height: 2em;
    padding: 0.37em 0.5em;
    border-radius: 0.25em;
}

.section:hover {
    background-color: #f5f6f712;
}

.modal.show {
    left: 0;
}

.overlay {
    background-color: rgba(0,0,0,0.55);
    top: 0;
    bottom: 0;
    left:0;
    right: 0;   
    position: fixed;
    display: none;
    z-index: 5;
}

.overlay.show {
    display: block;
}

.menu-button {
    cursor: pointer;
    margin: 0 0 12px;
    background-color: grey;
    border: 1px solid grey;
    color: white;
    border-radius: 1em;
    display: inline-flex;
    font-size: 1.2em;
    font-weight: bold;
    height: 2.5em;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    text-align: center;
    justify-content: center;
}

.menu-button:hover {
    color: brown
}

.close {
    padding-top: 1em;
    cursor: pointer;
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: transparent;
    border: 0;
    font-size: 1.19em;
    color: #fff;
}

.menu {
    float: left;
    vertical-align: middle;
    padding-top: 0.7em;
}


header {
    top: 0;
    width: 100%;
    border-bottom: 1px solid red;
    border-width: 2px;
    background-color: crimson;
}

.title {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 11em;
    max-width: 100%;
}

footer {
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    border-width: 2px;
    text-align: center;
    padding: 2em 3em 4em 4em;
    background-color: #242526;
    color: #fff;
    height: 100%;
}

.search-bar {
    text-align: center;
    bottom: 0;
    padding-bottom: 1em;
}

.search-input {
    padding: 1em 0;
    margin: 0 1em;
    border-radius: 0.5em;
}

.search-button {
    padding: 1em 1.5em;
    border-radius: 0.5em;
    color: white;
    background-color: orange;
    cursor: pointer;
}

.search-button:hover {
    background-color: darkorange;
}

.search-bar > button {
    padding: 1em 2em;
}

.navigation {
    padding-top: 1em;
    float: left;
    padding-right: 1em;
    padding-left: 1em;
}

.navigation-link {
    text-decoration: none;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.navigation-link:hover {
    background-color: #f5f6f712;
}

.logos {
    float: right;
}

.logo-image {
    border-radius: 1.5em;
}

span {
    padding-right: 2em;
    padding-left: 1em;
}

@media screen and (max-width: 768px) {
    .navigation {
        padding-top: 1em;
        float: left;
        padding-bottom: 1em;
        text-align: center;
        width: 100%;
    }

    .logos {
        float: right;
        width: 100%;
    }

    footer {
        padding-top: 1em;
        padding-bottom: 8em;
    }

    span {
        padding-right: 0em;
        padding-left: 0em;
    }
}
