* {
    box-sizing: border-box;
}

.pokemon-results::before,
.pokemon-results::after {
    content: "";
    display: table;
    clear: both;
}

.pokemon-results {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    display: block;
    background-color: white;
    position: relative;
    justify-content: center;
    background: gray left top;
}

.results {
    padding: 1em 0;
    background-color:white;
    float: left;
    margin-right: -100%;
    width: 85%;
    margin-left: 7.25%
}

ul {
    list-style: none;
}

.list {
    display: block;
    float:left;
    position: relative;
    margin: 0 .78125% 50px;
    width: 23.43%;
}

.preview-figure {
    background: #F2F2F2;
    float: left;
    display: block;
    position: relative;
    width: 100%;
    color: white;
    border-radius: 1em;
}

.pokemon-pic {
    float: left;
    display:block;
    width: 100%;
}

.pokemon-name {
    padding-left: 0.5em;
    padding-top: 1em;
    border-top: none;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1em;
    text-transform: capitalize;
    color: #313131;
    font-size: 145%;
}

.link-to-pokemon {
    text-decoration: none;
    color: #313131;
    font-size: 100%;
}

.navigate-pages {
    margin-right: -100%;
    margin-left: 7.25%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
    width: 85%;
    max-width: 1024px;
    background-color: white;
}

.navigate-pages > span {
    cursor: pointer;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #30a7d7;
    border-radius: 0.5em;
    display: inline-block;
    color: #fff;
    border: 2px solid #30a7d7;
    padding: 0.5em 2em 0.5em 2em;
    margin: 1em 0.5em 1em 0.5em;
    box-shadow: none;
}

.pagination {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    display: block;
    background-color: white;
    position: relative;
    justify-content: center;
    background: gray left top;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .list {
        width: 31.43%;
    }
}

@media screen and (min-width: 510px) and (max-width: 767px) {
    .list {
        width: 48.43%
    }
}

@media screen and (max-width: 509px) {
    .list {
        width: 98.43%
    }
}

@media (min-width: 461px) and (max-width: 720px) {
    .list {
        width: 48.43%
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .pokemon-name {
        font-size: 120%
    }
}

@media (min-width: 461px) and (max-width: 720px) {
    .pokemon-name {
        font-size: 115%
    }
}

@media (min-width: 1px) and (max-width: 460px) {
    .pokemon-name {
        font-size: 115%
    }
}
