* {
    box-sizing: border-box;
}

.pokemon-body {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.pokemon-body::after {
    content: "";
    display: table;
    clear: both;
}

.pokemon-card {
    border: 1.5px solid;
    border-radius: 1em;
    text-align: center;
    float: left;
    width: 50%;
    display: block;
}

.pokemon-card > img {
    float: left;
    width: 100%;
    height: 100%;
    display: block;
}

.pokemon-card > p {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    text-transform: capitalize;
    padding-bottom: 0.8em;
}

.pokemon-info {  
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}

.pokemon-stats {
    width: 100%;
    border: 1.5px solid;
    border-radius: 1em;
    text-align: center;
    display: block;
}

.pokemon-attributes {
    width: 100%;
    border-radius: 1em;
    border: 1.5px solid;
    display: block;
    text-align: center;
}
